*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid blue; */
}
body{ 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    /* justify-content: center; */
    /* background-image: url(./Images/background_dark_grey.png); */
    /* background-color: #423685; */ 

    background-color: #050549;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #050549 10px ), repeating-linear-gradient( #6164a355, #6164a3 );
    font-family: Helvetica, sans-serif;
}

.header{
    margin: auto;
    margin-bottom: 15px;
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.master{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    padding: 5px 20px;
    border: none;
    background-color: #4c53b8;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    outline: none;
    box-shadow: none;
    opacity: 100%;
}

.btn:hover{
    background-color: #5d69d8;
}

.rgb-on {
    color: white;
    background-image: linear-gradient(43deg, #C850C0 0%, #4158D0 40%, #FFCC70 100%);
    transition: all 0.1s;
    transform: scale(1.05);
}

#container{
    /* margin: auto; */
    box-sizing:content-box;
    outline: 3px solid rgb(76, 91, 224);
    /* background-color: darkgray; */
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
    border-radius: 14px;
    /* box-shadow: 0px 0px 30px black; */
}
.title{
    font-size: 35px;
    font-weight: 800;
    color: white;
}
a, a:after, a:hover{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.footer{
    margin-top: auto;
    text-align: center;
    padding: 20px;
    min-height: 100px;
    display: flex;
}
.github-link{
    font-size: 20px;
    margin: auto;
}

.title-rgb, .github-link-rgb{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-shadow: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.cell-size, .x{
    color: white;
}




@media only screen and ((max-height: 850px) or (max-width: 800px)){
    #container{
        width: 500px;
    }
    .title{
        font-size: 32px;
    }
}

@media only screen and ((max-height: 750px) or (max-width: 600px)) {
    #container{
        width: 400px;
    }
    .title{
        font-size: 28px;
    }
}

@media only screen and ((max-height: 650px) or (max-width: 450px)) {
    #container{
        width: 350px;
    }
    .btn-container{
        gap: 8px;
        font-size: 14px;
    }
    .btn{
        font-size: 12px;
        padding: 5px 10px;
    }
    .header{
        min-height: 50px;
        align-items: end;
    }
    .title{
        font-size: 20px;
    }
    .master{
        gap: 20px;
        padding-top: 15px;
    }
    .footer{
        min-height: 0;
    }
    .github-link{
        font-size: 14px;
    }
}

@media only screen and ((max-height: 480px) or (max-width: 400px)) {
    #container{
        width: 300px;
    }
    .header{
        display: none;
    }
}



